* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------ Estilos para clima durante el día -------------- */
/* Día - Soleado */
.dia-Sunny {
  background-image: url("/dia-sunny.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Opcional: fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

/* Día - Nublado */
.dia-PartlyCloudy,
.dia-Cloudy,
.dia-Overcast {
  background-image: url("/dia-cloudy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

/* Día - Niebla */
.dia-Mist,
.dia-Fog,
.dia-FreezingFog {
  background-image: url("/mist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

/* Día - Lluvia */
.dia-PatchyRainPossible,
.dia-PatchyFreezingDrizzlePossible,
.dia-PatchyLightDrizzle,
.dia-LightDrizzle,
.dia-FreezingDrizzle,
.dia-HeavyFreezingDrizzle,
.dia-PatchyLightRain,
.dia-LightRain,
.dia-ModerateRainAtTimes,
.dia-ModerateRain,
.dia-LightFreezingRain,
.dia-LightSleet,
.dia-LightRainShower {
  background-image: url("/dia-rainy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

.dia-HeavyRainAtTimes,
.dia-HeavyRain,
.dia-ModerateOrHeavyFreezingRain {
  background-image: url("/dia-torrentialRain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

.dia-ModerateOrHeavyRainShower,
.dia-TorrentialRainShower {
  background-image: url("/dia-torrentialRain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Día - Nieve */
.dia-PatchySnowPossible,
.dia-PatchySleetPossible,
.dia-BlowingSnow,
.dia-Blizzard,
.dia-ModerateOrHeavySleet {
  background-image: url("/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

.dia-PatchyLightSnow,
.dia-PatchyModerateSnow,
.dia-LightSnow,
.dia-LightSleetShowers,
.dia-LightSnowShowers {
  background-image: url("/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

.dia-ModerateSnow,
.dia-PatchyHeavySnow,
.dia-HeavySnow,
.dia-IcePellets,
.dia-ModerateOrHeavySleetShowers,
.dia-ModerateOrHeavySnowShowers {
  background-image: url("/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

/* Día - Tormentas */
.dia-ThunderyOutbreaksPossible,
.dia-PatchyLightRainWithThunder,
.dia-ModerateOrHeavyRainWithThunder {
  background-image: url("/dia-torrentialRain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Día - Tormentas de Nieve */
.dia-PatchyLightSnowWithThunder,
.dia-ModerateOrHeavySnowWithThunder {
  background-image: url("/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/*------------------ Estilos para clima durante la noche -------------- */
/* Noche - Clear */
.noche-Sunny {
  background-image: url("/noche-clear.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Opcional: fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Noche - Nublado */
.noche-PartlyCloudy,
.noche-Cloudy,
.noche-Overcast {
  background-image: url("/night-cloudy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Noche - Niebla */
.noche-Mist,
.noche-Fog,
.noche-FreezingFog {
  background-image: url("/mist.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Noche - Lluvia */
.noche-PatchyRainPossible,
.noche-PatchyFreezingDrizzlePossible,
.noche-PatchyLightDrizzle,
.noche-LightDrizzle,
.noche-FreezingDrizzle,
.noche-HeavyFreezingDrizzle,
.noche-PatchyLightRain,
.noche-LightRain,
.noche-ModerateRainAtTimes,
.noche-ModerateRain,
.noche-HeavyRainAtTimes,
.noche-HeavyRain,
.noche-LightFreezingRain,
.noche-ModerateOrHeavyFreezingRain,
.noche-LightSleet,
.noche-ModerateOrHeavySleet,
.noche-LightRainShower,
.noche-ModerateOrHeavyRainShower,
.noche-TorrentialRainShower {
  background-image: url("/noche-rain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Noche - Nieve */
.noche-PatchySnowPossible,
.noche-PatchySleetPossible,
.noche-BlowingSnow,
.noche-Blizzard,
.noche-PatchyLightSnow,
.noche-LightSnow,
.noche-PatchyModerateSnow,
.noche-ModerateSnow,
.noche-PatchyHeavySnow,
.noche-HeavySnow,
.noche-IcePellets,
.noche-LightSleetShowers,
.noche-ModerateOrHeavySleetShowers,
.noche-LightSnowShowers,
.noche-ModerateOrHeavySnowShowers {
  background-image: url("/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #000; /* Texto en negro */
}

/* Noche - Tormentas */
.noche-ThunderyOutbreaksPossible,
.noche-PatchyLightRainWithThunder,
.noche-ModerateOrHeavyRainWithThunder {
  background-image: url("/dia-torrentialRain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}

/* Noche - Tormentas de Nieve */
.noche-PatchyLightSnowWithThunder,
.noche-ModerateOrHeavySnowWithThunder {
  background-image: url("/snow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fija la imagen de fondo */
  color: #fff; /* Texto en blanco */
}
.default-weatherDefault {
  background-color: aquamarine;
  color: #000;
}
@media (max-width: 768px) {
  html {
    background-position: center;
  }
}
